* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --grayDark: #29211E;
    --grayMedium: #4E4E4C;
    --grayLight: #B1B1B1;
    --gray: #DEDEDE;
    --orange: #E44E1B;
}

:--heading {
    margin-block: 0;
}

a{
    color: white;
}

strong {
    font-weight: normal;
    font-family: $oswald;
    letter-spacing: .5px;
}

body {
    font-size: 16px;
    font-family: $roboto;
    background-color: var(--grayMedium);
    color: black;
}

.container_fluid {
    width: 75vw;
    margin: auto;
}

.contentSocial {
    padding: 35px;
    @include flexbox(column, wrap, center, center);
    h6  {
        color: var(--grayDark);
        margin-bottom: 5px;
        font-size: 1.4rem;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
    }
    ul {
        @include flexbox(row, wrap, flex-start, flex-start);
        list-style: none;
        li {
            a {
                display: block;
                width: 35px;
                height: 35px;
                font-size: 0;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 10px;
                &#facebook {
                    background-image: url('../images/sprites/facebook.png');
                }
                &#twitter {
                    background-image: url('../images/sprites/twitter.png');
                }
                &#instagram {
                    background-image: url('../images/sprites/instagram.png');
                }
            }
        }
    }
}

