.footer_container {
    font-size: 12px;
    color: white;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 25% 75%;

    h2 {
        letter-spacing: .8px;
        font-size: 1.2rem;
    }
    .footer_information {
        p {
            font-size: 12px;
            margin-bottom: 5px;
            strong {
                font-size: 12px;
            }
            span {
                a {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}