@custom-selector :--inputs input, textarea, select;

:--inputs {
    background-color: var(--grayLight);
    color: white;
    display: block;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--grayDark);
    &:focus {
        outline: 0;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 1px solid var(--grayDark);
        -webkit-text-fill-color: #FFFF;
        -webkit-box-shadow: 0 0 0px 1000px var(--grayLight) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.asideRight__formulario {
    margin: 10px 0;
    form {
        color: var(--grayLight);
        padding: 10px;
        background-color: var(--grayDark);
        .group {
            @include flexbox(column, wrap, flex-start, flex-start);
            position: relative;
        }
        label {
            font-size: 0;
            overflow: hidden;
            color: transparent;
            width: 0;
            height: 0;
        }
        .group_title {
            display: block;
            margin: 0 auto 10px;
            h2 {
                text-align: center;
                font-size: 1.2rem;
                letter-spacing: .8px;
            }
        }

        .group_politics {
            font-size: .8rem;
            margin-top: 20px;
            text-transform: uppercase;
            @include flexbox(row, wrap, flex-start, flex-start);
            color: white;
            &:before {
                content:'';
                width: 15px;
                height: 20px;
                margin-right: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/sprites/padlock.png');
                background-position: left center;
                display: inline-block;
                position: relative;
            }
            p {
                @include flexbox(row, wrap, flex-start, flex-start);
                max-width: 90%;
                margin-bottom: 20px;
            }
        }
        .group_buttons {
            @include flexbox(row, wrap, center, center);
            #send {
                color: white;
                text-decoration: none;
                background-color: var(--orange);
                border: 1px solid var(--orange);
                border-radius: 21px;
                width: 200px;
                height: 45px;
                cursor: pointer;
            }
        }
    }
}