//- VARIABLES
-var namePage= "Everest Andorra"
-var email= "info@leesu.co"
-var infoLista= ["Lorem, ipsum.", "Lorem, ipsum dolor.", "Lorem ipsum dolor sit.","Lorem ipsum dolor sit.","Lorem ipsum dolor sit."]
-var urlsRedes= ["facebook", "instagram"]
-var copyright= "© 2019 Leesu. Todos los derechos reservados"

//- MIXIN
mixin redSocial
    .contentSocial
        h6 Siguenos en nuestras redes sociales
        ul
            li 
                a#facebook(href="http://") #{urlsRedes[0]}
            li
                a#instagram(href="http://") #{urlsRedes[1]}
            //- li: a(href="http://") #{urlsRedes[2]}
            