form(action="" method="POST" autocomplete="off" id="leads_form")
    .group_title.group
        h2 Información de contacto
    .group_info_names.group
        label(for="first_name") First Name
        input(type="text", name="first_name")
        label(for="last_name") Last Name
        input(type="text", name="last_name")
    .group_contact.group
        label(for="email") Email
        input(type="email", name="email")
        label(for="phone") Phone
        input(type="tel", name="phone")
    .group_residen_information.group
        label(for="city") Ciudad
        input(type="text", name="city")
    .group_comments
        label(for="comments") Comentarios
        textarea(name="comments", cols="30", rows="10")
    .group_politics.group
        p Debes aceptar las políticas de privacidad y manejo de la informacion.
            label(for="accept")
            span: input(type="checkbox", name="accept")
    .group_camps_hidden
        input(class="campaign" type="hidden", name="")
        input(class="" type="hidden", name="") 
    .group_buttons
        button(type="submit",  id="send" value="Enviar") Enviar