-var phone= ["123-6534-55", "751-586-11"]
.header_container
    .header__logo 
        img(src="/", alt="", srcset="/")
        .header__title Leesu
        .header__subtitle Su mejor opción
    .header__navegacion
    .header__contact
        .header__contact__number PBX: #{phone[0]}
        .header__contact__email #{email}