include config.pug
<!DOCTYPE html>
html(lang="es")
    include head.pug
    body
        header.header
            .container_fluid
                block HEADER
        //- section.postHeader
        //-     .container_fluid
        //-         block POSTHEADER
        main.mainContent
            .container_fluid
                block MAINCONTENT
        section.postContent
            .container_fluid
                block POSTCONTENT
        Section.preFooter
            .container_fluid
                block PREFOOTER
        footer.footer
            .container_fluid
                block FOOTER