.header {
    .header_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
}
.postHeader {
    background-color: $color-b;
}
.mainContent {
    position: relative;
    background-image: url("../images/imagen-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    &:before {
        background-color: var(--grayDark);
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        opacity: .7;
    }
    .container_main {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template: auto auto / minmax(auto, 75%) minmax(300px, 25%);
        grid-gap: 10px;
        .asideLeft {
            @include flexbox(column, wrap, center, flex-start);
            color: white;
            text-align: left;
            h2 {
                margin-bottom: 5px;
                font-size: 2rem;
                letter-spacing: 0.8px;
            }
        }
        .asideRight__formulario {
            margin: 10px 0;
            form {
                padding: 10px;
                background-color: var(--grayDark);
            }
        }
    }
}
.postContent {
    background-color: $color-d;
}
.preFooter {
    background-color: $color-e;
}
.footer {
    background-color: $color-f;
}